/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 8, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 14, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 150px 0 0 200px;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 28, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 39, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 46, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 49, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 56, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 66, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 72, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 78, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 84, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 90, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 95, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 103, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 108, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 114, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 119, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 126, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 130, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* COLOR VARIABLE PALETTE */
/* ===== ===== ===== ===== ===== ===== ===== ===== */
/* SHADOW PALETTE */
/* ===== ===== ===== ===== ===== ===== ===== ===== */
/* CORNER RADIUS */
/* ===== ===== ===== ===== ===== ===== ===== ===== */
/* line 39, src/scss/mrktmade-ui.scss */
.st {
  /* COLOR ===== */
  /* ===== ===== ===== ===== ===== */
  /* SHADOW */
  /* ===== ===== ===== ===== ===== */
  /* HEADINGS */
  /* ===== ===== ===== ===== ===== */
  /* PARAGRAPHS */
  /* ===== ===== ===== ===== ===== */
  /* PARAGRAPHS */
  /* ===== ===== ===== ===== ===== */
  /* TEXT SELECTION */
  /* ===== ===== ===== ===== ===== */
  /* LIST */
  /* ===== ===== ===== ===== ===== */
  /* BLOCKQUOTE */
  /* ===== ===== ===== ===== ===== */
  /* LAYOUTS */
  /* ===== ===== ===== ===== ===== */
  /* CORNER RADIUS */
  /* ===== ===== ===== ===== ===== */
  /* TABLE */
  /* ===== ===== ===== ===== ===== */
  /* ACCORDION */
  /* ===== ===== ===== ===== ===== */
  /*

	!* FORMS *!
	&.form {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-left: auto;
		margin-right: auto;

		&__field {
			position: relative;
			display: flex;
			flex-direction: column;
			margin-bottom: 25px;

			&.is-error {
				.st.form__input {
					border-color: #FD5E53;
					@include transition(border-color);
				}
			}

			&.is-load {
				.st.form__input {
					padding-right: 50px;
				}
			}

			&.is-copy {
				.st.form__input {
					padding-right: 55px;
				}
			}
		}

		&__label {
			position: relative;
			display: flex;
			width: 100%;
		}

		&__input {
			outline: none;
			position: relative;
			display: flex;
			width: 100%;
			height: 48px;
			padding: 0 16px;
			border: 1px solid #EFEFEF;
			box-shadow: none;
			border-radius: 6px;
			background-color: #ffffff;
			font-size: 14px;
			color: #000000;
			@include transition(border-color);
			@include inputPlaceholder {
				font-size: 14px;
				color: #8D9091;
			}

			&[disabled] {
				opacity: 0.5;
				cursor: not-allowed;
				pointer-events: none;

				&:hover {
					border-color: #EFEFEF;
					@include transition(border-color);
				}
			}

			&:hover {
				border-color: #CBDBE3;
				@include transition(border-color);
			}

			&:focus {
				border-color: #21BF73;
				@include transition(border-color);
			}
		}

		&__search {
			outline: none;
			position: relative;
			display: flex;
			width: 100%;
			height: 70px;
			padding: 0 16px 0 70px;
			border: none;
			box-shadow: none;
			border-radius: 8px;
			background-color: rgba(#F1F4F8, 0.5);
			font-size: 14px;
			color: #21BF73;
			@include inputPlaceholder {
				font-size: 14px;
				color: #576472;
				@include transition(color);
			}

			&:focus,
			&:active {
				color: #21BF73;
				@include inputPlaceholder {
					color: #21BF73;
					@include transition(color);
				}

				& + .st.form__search-icon {
					border-color: #21BF73;
					@include transition(border-color);

					&:before {
						background-color: #21BF73;
						@include transition(background-color);
					}
				}
			}

			&-icon {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 36px;
				width: 14px;
				height: 14px;
				border: 2px solid #163A5F;
				border-radius: 50%;
				background-color: transparent;
				@include transition(border-color);

				&:before {
					content: '';
					position: absolute;
					bottom: -3px;
					left: -5px;
					width: 8px;
					height: 2px;
					border-radius: 3px 0 0 3px;
					background-color: #163a5f;
					transform: rotate(-49deg);
					@include transition(background-color);
				}
			}
		}

		&__toggle {
			cursor: pointer;
			position: relative;
			display: flex;
			width: 60px;
			height: 30px;
			border-radius: 40px;
			box-shadow: inset 0 1px 4px #ADBCD1;
			background-color: #D0DBEA;
			@include transition(box-shadow, background-color);

			&:before {
				content: '';
				position: absolute;
				top: 2px;
				left: 2px;
				width: 26px;
				height: 26px;
				border-radius: 50%;
				box-shadow: 0 0 5px 0 #ABBED8;
				background-color: #FFFFFF;
				transform-origin: center;
				@include transition(transform);
			}

			&-input {
				opacity: 0;
				position: absolute;
				width: 0;
				height: 0;

				&:checked {
					opacity: 1;

					& + .st.form__toggle {
						box-shadow: inset 0 1px 4px #11834C;
						background-color: #21BF73;
						@include transition(box-shadow, background-color);

						&:before {
							transform: translateX(30px);
							@include transition(transform);
						}
					}
				}
			}
		}

		&__checkbox {
			cursor: pointer;
			position: relative;
			display: flex;
			padding-left: 40px;
			align-items: center;

			u {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 24px;
				height: 24px;
				border: 1px solid rgba(#163A5F, 0.5);
				background-color: transparent;
				@include transition(border-color);

				&:after {
					content: '';
					opacity: 0;
					visibility: hidden;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 16px;
					height: 16px;
					background-color: #21BF73;
					@include transition(opacity, visibility);
				}
			}

			span {
				font-weight: bold;
				font-size: 14px;
				color: #163A5F;
				@include transition(color);
			}

			&-input {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				width: 0;
				height: 0;

				&:checked {
					& + .st.form__checkbox {
						u {
							border-color: #21BF73;
							@include transition(border-color);

							&:after {
								opacity: 1;
								visibility: visible;
								@include transition(opacity, visibility);
							}
						}
					}
				}

				&[disabled] {
					pointer-events: none;

					& + .st.form__checkbox {
						pointer-events: none;
						opacity: 0.5;

						u {
							border-color: rgba(#576472, 0.5);
							@include transition(border-color);
						}

						span {
							color: #576472;
							@include transition(color);
						}
					}
				}
			}
		}

		&__radio {
			cursor: pointer;
			position: relative;
			display: flex;
			padding-left: 40px;
			align-items: center;

			u {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 24px;
				height: 24px;
				border-radius: 50%;
				border: 1px solid rgba(#163A5F, 0.5);
				background-color: transparent;
				@include transition(border-color);

				&:after {
					content: '';
					opacity: 0;
					visibility: hidden;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 16px;
					height: 16px;
					border-radius: 50%;
					background-color: #21BF73;
					@include transition(opacity, visibility);
				}
			}

			span {
				font-weight: bold;
				font-size: 14px;
				color: #163A5F;
				@include transition(color);
			}

			&-input {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				width: 0;
				height: 0;

				&:checked {
					& + .st.form__radio {
						u {
							border-color: #21BF73;
							@include transition(border-color);

							&:after {
								opacity: 1;
								visibility: visible;
								@include transition(opacity, visibility);
							}
						}
					}
				}

				&[disabled] {
					pointer-events: none;

					& + .st.form__radio {
						pointer-events: none;
						opacity: 0.5;

						u {
							border-color: rgba(#576472, 0.5);
							@include transition(border-color);
						}

						span {
							color: #576472;
							@include transition(color);
						}
					}
				}
			}
		}

		&__error {
			position: absolute;
			top: 100%;
			left: 0;
			display: flex;
			align-items: center;
			width: 100%;
			height: 25px;
			padding: 0 10px;
			font-size: 12px;
			color: #FD5E53;
		}

		&__info {
			position: absolute;
			top: 100%;
			left: 0;
			display: flex;
			align-items: center;
			width: 100%;
			height: 25px;
			padding: 0 10px;
			font-weight: 500;
			font-size: 12px;
			color: #576472;
		}

		&__copy {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 15px;
			font-weight: 500;
			font-size: 12px;
			color: #21BF73;
		}

		&__load {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 15px;
			width: 20px;
			height: 20px;

			span {
				position: absolute;
				display: block;
				width: 20px;
				height: 20px;
				border: 1px solid #21BF73;
				border-radius: 50%;
				border-color: #21BF73 transparent transparent transparent;
				animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

				&:nth-child(1) { animation-delay: -0.45s; }
				&:nth-child(2) { animation-delay: -0.3s; }
				&:nth-child(3) { animation-delay: -0.15s; }
			}
		}
	}
	@keyframes lds-ring {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
	!* ===== ===== ===== ===== ===== *!


	!* DROPDOWN *!
	&.dropdown {
		position: relative;

		&.is-open {
			.st.dropdown {
				&__toggle {
					border-color: #21BF73;
					@include transition(border-color);

					> div {
						i {
							&:before,
							&:after {
								background-color: #21bf73;
								@include transition(background-color);
							}
						}
					}
				}

				&__menu {
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
					@include transition(opacity, visibility, transform);
				}
			}
		}

		&__toggle {
			position: relative;
			display: flex;
			align-items: center;
			width: 100%;
			height: 48px;
			border-radius: 6px;
			border: 1px solid #CBDBE3;
			background-color: #FFFFFF;
			@include transition(border-color);

			> div {
				&:nth-of-type(1) {
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					flex: 1;
					min-width: 1px;
					max-width: 100%;
					padding-left: 16px;
					padding-right: 16px;
				}
				&:nth-of-type(2) {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 40px;
					height: 100%;
				}

				p {
					font-weight: 600;
					font-size: 14px;
					color: #000000;
				}

				i {
					position: relative;
					display: flex;
					align-items: center;
					width: 14px;
					height: 14px;

					&:before,
					&:after {
						content: '';
						position: absolute;
						top: 50%;
						width: 65%;
						height: 2px;
						border-radius: 3px;
						background-color: #000000;
						@include transition(background-color);
					}

					&:before {
						left: -2px;
						transform: translate(1.2px, -50%) rotate(43deg);
					}

					&:after {
						right: -2px;
						transform: translate(-1.2px, -50%) rotate(-43deg);
					}
				}
			}
		}

		&__menu {
			z-index: 99;
			opacity: 0;
			visibility: hidden;
			transform: translateY(3px);
			overflow: hidden;
			overflow-y: auto;
			position: absolute;
			top: 100%;
			left: 0;
			display: flex;
			flex-direction: column;
			width: 100%;
			max-height: 216px;
			padding: 8px 0;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 25px 35px rgba(0, 0, 0, 0.03);
			border-radius: 4px;
			background-color: #FFFFFF;
			@include transition(opacity, visibility, transform);
		}

		&__item {
			outline: none;
			position: relative;
			display: flex;
			align-items: center;
			width: 100%;
			min-height: 40px;
			padding: 0 44px 0 16px;
			font-weight: 500;
			font-size: 14px;
			color: #163A5F;
			@include transition(background-color, color);

			&:hover {
				color: #21BF73;
				@include transition(background-color, color);
			}

			&.is-active {
				background-color: rgba(#21BF73, 0.05);
				@include transition(background-color, color);

				&:before,
				&:after {
					opacity: 1;
					visibility: visible;
					@include transition(opacity, visibility);
				}
			}

			&:before,
			&:after {
				opacity: 0;
				visibility: hidden;
				content: '';
				position: absolute;
				right: 0;
				height: 2px;
				border-radius: 3px;
				background-color: #21bf73;
				@include transition(opacity, visibility);
			}

			&:before {
				right: 22px;
				width: 6px;
				transform: translate(-0.25px, 1.25px) rotate(45deg);
			}

			&:after {
				right: 16px;
				width: 10px;
				transform: rotate(-45deg);
			}
		}
	}
	!* ===== ===== ===== ===== ===== *!


	!* AVATARS *!
	&.avatars {
		outline: none;
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50%;
		background-color: #21BF73;

		&__text {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 12px;
			text-align: center;
			color: #FFFFFF;
		}
	}
	!* ===== ===== ===== ===== ===== *!


	!* MENU *!
	&.links {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		color: #163A5F;
		@include transition(color);

		&:hover {
			color: #99F3BD;
			@include transition(color);
		}

		&:active {
			color: #21BF73;
			@include transition(color);
		}

		&__wrapper {
			display: flex;
			align-items: center;
			justify-content: center;

			&.links__wrapper--column {
				flex-direction: column;
			}
		}
	}
	!* ===== ===== ===== ===== ===== *!


	!* BASE *!
	&.base {
		&.base--lightGreen {
			background-color: rgba(#21BF73, 0.1);
		}
		&.base--lightGreyBorder {
			border-radius: 20px;
			border: 1px solid rgba(87, 100, 114, 0.1);
			background-color: #FFFFFF;
		}
		&.base--greyBorder {
			border-radius: 10px;
			border: 1px solid rgba(87, 100, 114, 0.3);
			background-color: #FFFFFF;
		}
		&.base--grey {
			border-radius: 8px;
			background-color: rgba(#F1F4F8, 0.7);
		}
		&.base--greenBorder {
			border-radius: 20px;
			border: 2px solid #21BF73;
			box-shadow: 0px 2px 10px rgba(45, 57, 88, 0.05);
			background-color: #FFFFFF;
		}
		&.base--lightShadow {
			border-radius: 10px;
			box-shadow: 0 5px 60px 0 rgba(22, 58, 95, 0.06);
			background-color: #FFFFFF;
		}
		&.base--darkerShadow {
			border-radius: 8px;
			box-shadow: 0 40px 80px 0 rgba(22, 58, 95, 0.05);
			background-color: #FFFFFF;
		}
	}
	!* ===== ===== ===== ===== ===== *!


	!* INFORMATION *!
	&.info {
		display: flex;
		align-items: center;
		padding: 25px 45px;
		border-radius: 6px;

		&.info--up {
			background-color: rgba(#21BF73, 0.1);

			.info__desc {
				a {
					color: rgba(#21BF73, 1);
				}
			}
		}
		&.info--unknown {
			background-color: rgba(#E1E8F2, 0.1);

			.info__desc {
				a {
					color: rgba(#163A5F, 1);
				}
			}
		}
		&.info--warn {
			background-color: rgba(#F5BE4F, 0.1);

			.info__desc {
				a {
					color: rgba(#F5BE4F, 1);
				}
			}
		}
		&.info--maintaince {
			background-color: rgba(#1597A8, 0.1);

			.info__desc {
				a {
					color: rgba(#1597A8, 1);
				}
			}
		}
		&.info--down {
			background-color: rgba(#FD5E53, 0.1);

			.info__desc {
				a {
					color: rgba(#FD5E53, 1);
				}
			}
		}

		.info {
			&__left {
				width: 100%;
				max-width: 50px;
			}

			&__right {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
				padding-left: 35px;
			}

			&__icon {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 50px;
				height: 50px;
				border-radius: 15px;
				background-color: #ffffff;
			}

			&__title {
				font-weight: bold;
				font-size: 24px;
				color: #163A5F;
			}

			&__desc {
				font-size: 14px;

				a {
					font-weight: 500;
					text-decoration: underline;
				}
			}
		}
	}
	!* ===== ===== ===== ===== ===== *!


	!* BTN *!
	&.btn {
		outline: none;
		cursor: pointer;
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: auto;
		height: 57px;
		border: none;
		box-shadow: none;
		padding-left: 32px;
		padding-right: 32px;
		border-radius: 6px;
		background-color: #21BF73;
		@include transition(background-color);

		&:hover {
			background-color: #21dd83;
			@include transition(background-color);
		}

		&:active {
			background-color: #1ba060;
			@include transition(background-color);
		}

		&.btn--big {
			height: 70px;
			padding-left: 44px;
			padding-right: 44px;
		}

		&.btn--badge {
			height: 48px;
			padding-left: 12px;
			padding-right: 12px;
			border-radius: 8px;
			border: 1px solid #CBDBE3;
			background-color: #FFFFFF;
			@include transition(border-color, background-color);

			&:hover {
				border-color: #CBDBE3;
				background-color: rgba(87, 100, 114, 0.1);
				@include transition(border-color, background-color);
			}

			&:active {
				border-color: #21BF73;
				background-color: #21BF73;
				@include transition(border-color, background-color);

				span {
					color: #ffffff;
					@include transition(color);
				}
			}

			span {
				font-weight: 600;
				font-size: 16px;
				color: #163A5F;
			}
		}

		&.btn--stroke {
			min-width: 200px;
			height: 70px;
			padding-left: 12px;
			padding-right: 12px;
			border-radius: 6px;
			border: 1px solid #576472;
			background-color: #FFFFFF;
			@include transition(border-color, background-color);

			&:hover {
				border-color: #576472;
				background-color: rgba(87, 100, 114, 0.1);
				@include transition(border-color, background-color);
			}

			&:active {
				border-color: #576472;
				background-color: #576472;
				@include transition(border-color, background-color);

				span {
					color: #ffffff;
					@include transition(color);
				}
			}

			span {
				color: #576472;
			}
		}

		&.btn--disabled,
		&[disabled] {
			pointer-events: none;
			background-color: rgba(#576472, 0.5);
		}

		&__load {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			margin-right: 10px;

			u {
				position: absolute;
				display: block;
				width: 20px;
				height: 20px;
				border: 2px solid #fff;
				border-radius: 50%;
				border-color: #fff transparent transparent transparent;
				animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

				&:nth-child(1) { animation-delay: -0.45s; }
				&:nth-child(2) { animation-delay: -0.3s; }
				&:nth-child(3) { animation-delay: -0.15s; }
			}
		}

		&__check {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 18px;
			height: 18px;
			margin-right: 10px;

			&:before,
			&:after {
				content: '';
				display: block;
				height: 2px;
				border-radius: 3px;
				background-color: #fff;
				@include transition(opacity, visibility);
			}

			&:before {
				width: 8px;
				transform: translate(3px, 1.4px) rotate(45deg);
			}

			&:after {
				width: 13px;
				transform: rotate(-45deg);
			}
		}

		&__logo {
			overflow: hidden;
			position: relative;
			width: 24px;
			height: 24px;
			margin-right: 10px;

			img,
			svg {
				display: block;
				max-width: 100%;
				height: auto;
				margin-left: auto;
				margin-right: auto;
			}
		}

		span {
			font-weight: bold;
			font-size: 17px;
			line-height: 21px;
			color: #FFFFFF;
			@include transition(color);
		}
	}
	!* ===== ===== ===== ===== ===== *!


	!* LABELS *!
	&.labels {
		outline: none;
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		height: 50px;
		border-radius: 4px;
		border: none;
		box-shadow: none;

		&.labels--up {
			background-color: #21bf73;
		}
		&.labels--warn {
			background-color: #f5be4f;
		}
		&.labels--down {
			background-color: #fd5e53;
		}
		&.labels--maint {
			background-color: #1597a8;
		}
		&.labels--unknown {
			background-color: #b0b6bf;
		}

		span {
			font-weight: bold;
			font-size: 17px;
			color: #FFFFFF;
			text-transform: uppercase;
		}
	}
	!* ===== ===== ===== ===== ===== *!


	!* NAVIGATION *!
	&.navigation {
		outline: none;
		cursor: pointer;
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 6px;
		border: none;
		box-shadow: none;
		background-color: rgba(176, 234, 205, 0.3);
		@include transition(background-color);

		&:hover {
			background-color: #b0eacd;
			@include transition(background-color);
		}

		&:active {
			background-color: #21bf73;
			@include transition(background-color);

			svg {
				fill: #fff;
				@include transition(fill);
			}
		}

		&.navigation--reverse {
			svg {
				transform: scaleX(-1);
			}
		}

		&.navigation--grey {
			background-color: rgba(#576472, 0.1);

			&:hover {
				background-color: rgba(#576472, 0.5);
				@include transition(background-color);
			}

			&:active {
				background-color: #576472;
				@include transition(background-color);

				svg {
					fill: #fff;
					@include transition(fill);
				}
			}

			svg {
				fill: #576472;
			}
		}

		svg {
			transform: translateX(1px);
			fill: #21BF73;
			@include transition(fill);
		}
	}
	!* ===== ===== ===== ===== ===== *!*/
}

/* line 44, src/scss/mrktmade-ui.scss */
.st.primary-green-bg {
  background-color: #fff;
}

/* line 47, src/scss/mrktmade-ui.scss */
.st.primary-green-color {
  color: #fff;
}

/* line 50, src/scss/mrktmade-ui.scss */
.st.primary-green-border {
  border-color: #fff;
}

/* line 55, src/scss/mrktmade-ui.scss */
.st.primary-grey-bg {
  background-color: #000;
}

/* line 58, src/scss/mrktmade-ui.scss */
.st.primary-grey-color {
  color: #000;
}

/* line 61, src/scss/mrktmade-ui.scss */
.st.primary-grey-border {
  border-color: #000;
}

/* line 68, src/scss/mrktmade-ui.scss */
.st.shade-grey-1.shade-grey-1--bg {
  background-color: #F3F5F7;
}

/* line 71, src/scss/mrktmade-ui.scss */
.st.shade-grey-1.shade-grey-1--color {
  color: #F3F5F7;
}

/* line 74, src/scss/mrktmade-ui.scss */
.st.shade-grey-1.shade-grey-1--border {
  border-color: #F3F5F7;
}

/* line 79, src/scss/mrktmade-ui.scss */
.st.shade-grey-2.shade-grey-1--bg {
  background-color: #EFF0F1;
}

/* line 82, src/scss/mrktmade-ui.scss */
.st.shade-grey-2.shade-grey-1--color {
  color: #EFF0F1;
}

/* line 85, src/scss/mrktmade-ui.scss */
.st.shade-grey-2.shade-grey-1--border {
  border-color: #EFF0F1;
}

/* line 90, src/scss/mrktmade-ui.scss */
.st.shade-grey-3.shade-grey-1--bg {
  background-color: #DDE0E3;
}

/* line 93, src/scss/mrktmade-ui.scss */
.st.shade-grey-3.shade-grey-1--color {
  color: #DDE0E3;
}

/* line 96, src/scss/mrktmade-ui.scss */
.st.shade-grey-3.shade-grey-1--border {
  border-color: #DDE0E3;
}

/* line 101, src/scss/mrktmade-ui.scss */
.st.shade-grey-4.shade-grey-1--bg {
  background-color: #CDD1D5;
}

/* line 104, src/scss/mrktmade-ui.scss */
.st.shade-grey-4.shade-grey-1--color {
  color: #CDD1D5;
}

/* line 107, src/scss/mrktmade-ui.scss */
.st.shade-grey-4.shade-grey-1--border {
  border-color: #CDD1D5;
}

/* line 117, src/scss/mrktmade-ui.scss */
.st.shadow-xsmall {
  -webkit-box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.05);
}

/* line 120, src/scss/mrktmade-ui.scss */
.st.shadow-small {
  -webkit-box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.07);
}

/* line 123, src/scss/mrktmade-ui.scss */
.st.shadow-medium {
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

/* line 126, src/scss/mrktmade-ui.scss */
.st.shadow-large {
  -webkit-box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.2);
}

/* line 129, src/scss/mrktmade-ui.scss */
.st.shadow-xlarge {
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}

/* line 138, src/scss/mrktmade-ui.scss */
.st.heading-xbig {
  font-weight: bold;
  font-size: 64px;
  line-height: 88px;
  color: #163A5F;
}

/* line 144, src/scss/mrktmade-ui.scss */
.st.heading-big {
  font-weight: bold;
  font-size: 48px;
  line-height: 66px;
  color: #163A5F;
}

/* line 150, src/scss/mrktmade-ui.scss */
.st.heading-large {
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #163A5F;
}

/* line 156, src/scss/mrktmade-ui.scss */
.st.heading-medium {
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  color: #163A5F;
}

/* line 162, src/scss/mrktmade-ui.scss */
.st.heading-small {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #163A5F;
}

/* line 174, src/scss/mrktmade-ui.scss */
.st.paragraphs-large {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #576472;
}

/* line 180, src/scss/mrktmade-ui.scss */
.st.paragraphs-medium {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #576472;
}

/* line 186, src/scss/mrktmade-ui.scss */
.st.paragraphs-small {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #576472;
}

/* line 192, src/scss/mrktmade-ui.scss */
.st.paragraphs-xsmall {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #576472;
}

/* line 203, src/scss/mrktmade-ui.scss */
.st.label {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #576472;
}

/* line 209, src/scss/mrktmade-ui.scss */
.st.label-bold {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #576472;
}

/* line 221, src/scss/mrktmade-ui.scss */
.st.mark mark {
  padding-left: 3px;
  padding-right: 3px;
  background-color: #21bf73;
  color: #ffffff;
}

/* line 232, src/scss/mrktmade-ui.scss */
.st.unordered-list, .st.ordered-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 17px;
}

/* line 239, src/scss/mrktmade-ui.scss */
.st.unordered-list {
  list-style: disc;
}

/* line 242, src/scss/mrktmade-ui.scss */
.st.unordered-list li {
  list-style: disc;
}

/* line 246, src/scss/mrktmade-ui.scss */
.st.ordered-list {
  list-style: decimal;
}

/* line 249, src/scss/mrktmade-ui.scss */
.st.ordered-list li {
  list-style: decimal;
}

/* line 257, src/scss/mrktmade-ui.scss */
.st.blockquote {
  position: relative;
  padding: 5px 0 5px 20px;
  margin: 0;
}

/* line 262, src/scss/mrktmade-ui.scss */
.st.blockquote.blockquote--center {
  padding: 5px 0 5px 0;
  text-align: center;
}

/* line 266, src/scss/mrktmade-ui.scss */
.st.blockquote.blockquote--center:before {
  display: none;
}

/* line 270, src/scss/mrktmade-ui.scss */
.st.blockquote.blockquote--right {
  padding: 5px 20px 5px 0;
  text-align: right;
}

/* line 274, src/scss/mrktmade-ui.scss */
.st.blockquote.blockquote--right:before {
  left: auto;
  right: 0;
}

/* line 280, src/scss/mrktmade-ui.scss */
.st.blockquote:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #000;
}

/* line 294, src/scss/mrktmade-ui.scss */
.st.container-fluid, .st.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* line 301, src/scss/mrktmade-ui.scss */
.st.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

/* line 306, src/scss/mrktmade-ui.scss */
.st.row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

/* line 324, src/scss/mrktmade-ui.scss */
.st.col-xs, .st.col-xs-1, .st.col-xs-2, .st.col-xs-3, .st.col-xs-4, .st.col-xs-5, .st.col-xs-6, .st.col-xs-7, .st.col-xs-8, .st.col-xs-9, .st.col-xs-10, .st.col-xs-11, .st.col-xs-12, .st.col-xs-offset-0, .st.col-xs-offset-1, .st.col-xs-offset-2, .st.col-xs-offset-3, .st.col-xs-offset-4, .st.col-xs-offset-5, .st.col-xs-offset-6, .st.col-xs-offset-7, .st.col-xs-offset-8, .st.col-xs-offset-9, .st.col-xs-offset-10, .st.col-xs-offset-11, .st.col-xs-offset-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

/* line 358, src/scss/mrktmade-ui.scss */
.st.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
  -webkit-flex-basis: 0;
          flex-basis: 0;
  max-width: 100%;
}

/* line 367, src/scss/mrktmade-ui.scss */
.st.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  -webkit-flex-basis: 8.33333333%;
          flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

/* line 373, src/scss/mrktmade-ui.scss */
.st.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  -webkit-flex-basis: 16.66666667%;
          flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

/* line 379, src/scss/mrktmade-ui.scss */
.st.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: 25%;
          flex-basis: 25%;
  max-width: 25%;
}

/* line 385, src/scss/mrktmade-ui.scss */
.st.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  -webkit-flex-basis: 33.33333333%;
          flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

/* line 391, src/scss/mrktmade-ui.scss */
.st.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  -webkit-flex-basis: 41.66666667%;
          flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

/* line 397, src/scss/mrktmade-ui.scss */
.st.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
          flex-basis: 50%;
  max-width: 50%;
}

/* line 403, src/scss/mrktmade-ui.scss */
.st.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  -webkit-flex-basis: 58.33333333%;
          flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

/* line 409, src/scss/mrktmade-ui.scss */
.st.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  -webkit-flex-basis: 66.66666667%;
          flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

/* line 415, src/scss/mrktmade-ui.scss */
.st.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  -webkit-flex-basis: 75%;
          flex-basis: 75%;
  max-width: 75%;
}

/* line 421, src/scss/mrktmade-ui.scss */
.st.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  -webkit-flex-basis: 83.33333333%;
          flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

/* line 427, src/scss/mrktmade-ui.scss */
.st.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  -webkit-flex-basis: 91.66666667%;
          flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

/* line 433, src/scss/mrktmade-ui.scss */
.st.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
          flex-basis: 100%;
  max-width: 100%;
}

/* line 439, src/scss/mrktmade-ui.scss */
.st.col-xs-offset-0 {
  margin-left: 0;
}

/* line 443, src/scss/mrktmade-ui.scss */
.st.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

/* line 447, src/scss/mrktmade-ui.scss */
.st.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

/* line 451, src/scss/mrktmade-ui.scss */
.st.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 455, src/scss/mrktmade-ui.scss */
.st.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

/* line 459, src/scss/mrktmade-ui.scss */
.st.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

/* line 463, src/scss/mrktmade-ui.scss */
.st.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 467, src/scss/mrktmade-ui.scss */
.st.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

/* line 471, src/scss/mrktmade-ui.scss */
.st.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

/* line 475, src/scss/mrktmade-ui.scss */
.st.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 479, src/scss/mrktmade-ui.scss */
.st.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

/* line 483, src/scss/mrktmade-ui.scss */
.st.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

@media only screen and (min-width: 48em) {
  /* line 488, src/scss/mrktmade-ui.scss */
  .st.container {
    max-width: 49rem;
  }
  /* line 492, src/scss/mrktmade-ui.scss */
  .st.col-sm, .st.col-sm-1, .st.col-sm-2, .st.col-sm-3, .st.col-sm-4, .st.col-sm-5, .st.col-sm-6, .st.col-sm-7, .st.col-sm-8, .st.col-sm-9, .st.col-sm-10, .st.col-sm-11, .st.col-sm-12, .st.col-sm-offset-0, .st.col-sm-offset-1, .st.col-sm-offset-2, .st.col-sm-offset-3, .st.col-sm-offset-4, .st.col-sm-offset-5, .st.col-sm-offset-6, .st.col-sm-offset-7, .st.col-sm-offset-8, .st.col-sm-offset-9, .st.col-sm-offset-10, .st.col-sm-offset-11, .st.col-sm-offset-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  /* line 526, src/scss/mrktmade-ui.scss */
  .st.col-sm {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
            flex-basis: 0;
    max-width: 100%;
  }
  /* line 535, src/scss/mrktmade-ui.scss */
  .st.col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    -webkit-flex-basis: 8.33333333%;
            flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  /* line 541, src/scss/mrktmade-ui.scss */
  .st.col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    -webkit-flex-basis: 16.66666667%;
            flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  /* line 547, src/scss/mrktmade-ui.scss */
  .st.col-sm-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  /* line 553, src/scss/mrktmade-ui.scss */
  .st.col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    -webkit-flex-basis: 33.33333333%;
            flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  /* line 559, src/scss/mrktmade-ui.scss */
  .st.col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    -webkit-flex-basis: 41.66666667%;
            flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  /* line 565, src/scss/mrktmade-ui.scss */
  .st.col-sm-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  /* line 571, src/scss/mrktmade-ui.scss */
  .st.col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    -webkit-flex-basis: 58.33333333%;
            flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  /* line 577, src/scss/mrktmade-ui.scss */
  .st.col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    -webkit-flex-basis: 66.66666667%;
            flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  /* line 583, src/scss/mrktmade-ui.scss */
  .st.col-sm-9 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  /* line 589, src/scss/mrktmade-ui.scss */
  .st.col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    -webkit-flex-basis: 83.33333333%;
            flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  /* line 595, src/scss/mrktmade-ui.scss */
  .st.col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    -webkit-flex-basis: 91.66666667%;
            flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  /* line 601, src/scss/mrktmade-ui.scss */
  .st.col-sm-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
  /* line 607, src/scss/mrktmade-ui.scss */
  .st.col-sm-offset-0 {
    margin-left: 0;
  }
  /* line 611, src/scss/mrktmade-ui.scss */
  .st.col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  /* line 615, src/scss/mrktmade-ui.scss */
  .st.col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  /* line 619, src/scss/mrktmade-ui.scss */
  .st.col-sm-offset-3 {
    margin-left: 25%;
  }
  /* line 623, src/scss/mrktmade-ui.scss */
  .st.col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  /* line 627, src/scss/mrktmade-ui.scss */
  .st.col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  /* line 631, src/scss/mrktmade-ui.scss */
  .st.col-sm-offset-6 {
    margin-left: 50%;
  }
  /* line 635, src/scss/mrktmade-ui.scss */
  .st.col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  /* line 639, src/scss/mrktmade-ui.scss */
  .st.col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  /* line 643, src/scss/mrktmade-ui.scss */
  .st.col-sm-offset-9 {
    margin-left: 75%;
  }
  /* line 647, src/scss/mrktmade-ui.scss */
  .st.col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  /* line 651, src/scss/mrktmade-ui.scss */
  .st.col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
}

@media only screen and (min-width: 64em) {
  /* line 657, src/scss/mrktmade-ui.scss */
  .st.container {
    max-width: 65rem;
  }
  /* line 661, src/scss/mrktmade-ui.scss */
  .st.col-md, .st.col-md-1, .st.col-md-2, .st.col-md-3, .st.col-md-4, .st.col-md-5, .st.col-md-6, .st.col-md-7, .st.col-md-8, .st.col-md-9, .st.col-md-10, .st.col-md-11, .st.col-md-12, .st.col-md-offset-0, .st.col-md-offset-1, .st.col-md-offset-2, .st.col-md-offset-3, .st.col-md-offset-4, .st.col-md-offset-5, .st.col-md-offset-6, .st.col-md-offset-7, .st.col-md-offset-8, .st.col-md-offset-9, .st.col-md-offset-10, .st.col-md-offset-11, .st.col-md-offset-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  /* line 695, src/scss/mrktmade-ui.scss */
  .st.col-md {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
            flex-basis: 0;
    max-width: 100%;
  }
  /* line 704, src/scss/mrktmade-ui.scss */
  .st.col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
    -webkit-flex-basis: 8.33333333%;
            flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  /* line 710, src/scss/mrktmade-ui.scss */
  .st.col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
    -webkit-flex-basis: 16.66666667%;
            flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  /* line 716, src/scss/mrktmade-ui.scss */
  .st.col-md-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  /* line 722, src/scss/mrktmade-ui.scss */
  .st.col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
    -webkit-flex-basis: 33.33333333%;
            flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  /* line 728, src/scss/mrktmade-ui.scss */
  .st.col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
    -webkit-flex-basis: 41.66666667%;
            flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  /* line 734, src/scss/mrktmade-ui.scss */
  .st.col-md-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  /* line 740, src/scss/mrktmade-ui.scss */
  .st.col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
    -webkit-flex-basis: 58.33333333%;
            flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  /* line 746, src/scss/mrktmade-ui.scss */
  .st.col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    -webkit-flex-basis: 66.66666667%;
            flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  /* line 752, src/scss/mrktmade-ui.scss */
  .st.col-md-9 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  /* line 758, src/scss/mrktmade-ui.scss */
  .st.col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
    -webkit-flex-basis: 83.33333333%;
            flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  /* line 764, src/scss/mrktmade-ui.scss */
  .st.col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
    -webkit-flex-basis: 91.66666667%;
            flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  /* line 770, src/scss/mrktmade-ui.scss */
  .st.col-md-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
  /* line 776, src/scss/mrktmade-ui.scss */
  .st.col-md-offset-0 {
    margin-left: 0;
  }
  /* line 780, src/scss/mrktmade-ui.scss */
  .st.col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  /* line 784, src/scss/mrktmade-ui.scss */
  .st.col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  /* line 788, src/scss/mrktmade-ui.scss */
  .st.col-md-offset-3 {
    margin-left: 25%;
  }
  /* line 792, src/scss/mrktmade-ui.scss */
  .st.col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  /* line 796, src/scss/mrktmade-ui.scss */
  .st.col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  /* line 800, src/scss/mrktmade-ui.scss */
  .st.col-md-offset-6 {
    margin-left: 50%;
  }
  /* line 804, src/scss/mrktmade-ui.scss */
  .st.col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  /* line 808, src/scss/mrktmade-ui.scss */
  .st.col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  /* line 812, src/scss/mrktmade-ui.scss */
  .st.col-md-offset-9 {
    margin-left: 75%;
  }
  /* line 816, src/scss/mrktmade-ui.scss */
  .st.col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  /* line 820, src/scss/mrktmade-ui.scss */
  .st.col-md-offset-11 {
    margin-left: 91.66666667%;
  }
}

@media only screen and (min-width: 75em) {
  /* line 826, src/scss/mrktmade-ui.scss */
  .st.container {
    max-width: 76rem;
  }
  /* line 830, src/scss/mrktmade-ui.scss */
  .st.col-lg, .st.col-lg-1, .st.col-lg-2, .st.col-lg-3, .st.col-lg-4, .st.col-lg-5, .st.col-lg-6, .st.col-lg-7, .st.col-lg-8, .st.col-lg-9, .st.col-lg-10, .st.col-lg-11, .st.col-lg-12, .st.col-lg-offset-0, .st.col-lg-offset-1, .st.col-lg-offset-2, .st.col-lg-offset-3, .st.col-lg-offset-4, .st.col-lg-offset-5, .st.col-lg-offset-6, .st.col-lg-offset-7, .st.col-lg-offset-8, .st.col-lg-offset-9, .st.col-lg-offset-10, .st.col-lg-offset-11, .st.col-lg-offset-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  /* line 864, src/scss/mrktmade-ui.scss */
  .st.col-lg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
            flex-basis: 0;
    max-width: 100%;
  }
  /* line 873, src/scss/mrktmade-ui.scss */
  .st.col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    -webkit-flex-basis: 8.33333333%;
            flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  /* line 879, src/scss/mrktmade-ui.scss */
  .st.col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    -webkit-flex-basis: 16.66666667%;
            flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  /* line 885, src/scss/mrktmade-ui.scss */
  .st.col-lg-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  /* line 891, src/scss/mrktmade-ui.scss */
  .st.col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    -webkit-flex-basis: 33.33333333%;
            flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  /* line 897, src/scss/mrktmade-ui.scss */
  .st.col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    -webkit-flex-basis: 41.66666667%;
            flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  /* line 903, src/scss/mrktmade-ui.scss */
  .st.col-lg-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  /* line 909, src/scss/mrktmade-ui.scss */
  .st.col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    -webkit-flex-basis: 58.33333333%;
            flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  /* line 915, src/scss/mrktmade-ui.scss */
  .st.col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    -webkit-flex-basis: 66.66666667%;
            flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  /* line 921, src/scss/mrktmade-ui.scss */
  .st.col-lg-9 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  /* line 927, src/scss/mrktmade-ui.scss */
  .st.col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    -webkit-flex-basis: 83.33333333%;
            flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  /* line 933, src/scss/mrktmade-ui.scss */
  .st.col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    -webkit-flex-basis: 91.66666667%;
            flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  /* line 939, src/scss/mrktmade-ui.scss */
  .st.col-lg-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
  /* line 945, src/scss/mrktmade-ui.scss */
  .st.col-lg-offset-0 {
    margin-left: 0;
  }
  /* line 949, src/scss/mrktmade-ui.scss */
  .st.col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  /* line 953, src/scss/mrktmade-ui.scss */
  .st.col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  /* line 957, src/scss/mrktmade-ui.scss */
  .st.col-lg-offset-3 {
    margin-left: 25%;
  }
  /* line 961, src/scss/mrktmade-ui.scss */
  .st.col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  /* line 965, src/scss/mrktmade-ui.scss */
  .st.col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  /* line 969, src/scss/mrktmade-ui.scss */
  .st.col-lg-offset-6 {
    margin-left: 50%;
  }
  /* line 973, src/scss/mrktmade-ui.scss */
  .st.col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  /* line 977, src/scss/mrktmade-ui.scss */
  .st.col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  /* line 981, src/scss/mrktmade-ui.scss */
  .st.col-lg-offset-9 {
    margin-left: 75%;
  }
  /* line 985, src/scss/mrktmade-ui.scss */
  .st.col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  /* line 989, src/scss/mrktmade-ui.scss */
  .st.col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
}

/* line 998, src/scss/mrktmade-ui.scss */
.st.rounded-lg {
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

/* line 1001, src/scss/mrktmade-ui.scss */
.st.rounded-md {
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

/* line 1004, src/scss/mrktmade-ui.scss */
.st.rounded-sm {
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

/* line 1012, src/scss/mrktmade-ui.scss */
.st.table {
  width: 100%;
  display: table;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1019, src/scss/mrktmade-ui.scss */
.st.table__overflow {
  overflow: hidden;
  overflow-x: auto;
}

/* line 1024, src/scss/mrktmade-ui.scss */
.st.table.table--nowrap {
  white-space: nowrap;
}

/* line 1031, src/scss/mrktmade-ui.scss */
.st.table.table--center thead tr th,
.st.table.table--center thead tr td,
.st.table.table--center tbody tr th,
.st.table.table--center tbody tr td {
  text-align: center;
}

/* line 1039, src/scss/mrktmade-ui.scss */
.st.table.table--striped tr {
  border-bottom: none;
}

/* line 1044, src/scss/mrktmade-ui.scss */
.st.table.table--striped > tbody > tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

/* line 1051, src/scss/mrktmade-ui.scss */
.st.table.table--striped > tbody > tr > td {
  -webkit-border-radius: 0;
          border-radius: 0;
}

/* line 1059, src/scss/mrktmade-ui.scss */
.st.table.table--highlight > tbody > tr {
  -webkit-transition: background-color .35s ease;
  -o-transition: background-color .35s ease;
  transition: background-color .35s ease;
}

/* line 1065, src/scss/mrktmade-ui.scss */
.st.table.table--highlight > tbody > tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color .35s ease;
  -o-transition: background-color .35s ease;
  transition: background-color .35s ease;
}

@media screen and (max-width: 1279px) {
  /* line 1071, src/scss/mrktmade-ui.scss */
  .st.table.table--responsive {
    position: relative;
    display: block;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  /* line 1079, src/scss/mrktmade-ui.scss */
  .st.table.table--responsive td:empty:before {
    content: '\00a0';
  }
  /* line 1083, src/scss/mrktmade-ui.scss */
  .st.table.table--responsive th,
  .st.table.table--responsive td {
    margin: 0;
    vertical-align: top;
  }
  /* line 1089, src/scss/mrktmade-ui.scss */
  .st.table.table--responsive th {
    text-align: left;
  }
  /* line 1093, src/scss/mrktmade-ui.scss */
  .st.table.table--responsive thead {
    display: block;
    float: left;
  }
  /* line 1097, src/scss/mrktmade-ui.scss */
  .st.table.table--responsive thead tr {
    display: block;
    padding: 0 10px 0 0;
  }
  /* line 1101, src/scss/mrktmade-ui.scss */
  .st.table.table--responsive thead tr th::before {
    content: "\00a0";
  }
  /* line 1107, src/scss/mrktmade-ui.scss */
  .st.table.table--responsive tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  /* line 1114, src/scss/mrktmade-ui.scss */
  .st.table.table--responsive tbody tr {
    display: inline-block;
    vertical-align: top;
  }
  /* line 1120, src/scss/mrktmade-ui.scss */
  .st.table.table--responsive th {
    display: block;
    text-align: right;
  }
  /* line 1125, src/scss/mrktmade-ui.scss */
  .st.table.table--responsive td {
    display: block;
    min-height: 1.25em;
    text-align: left;
  }
  /* line 1131, src/scss/mrktmade-ui.scss */
  .st.table.table--responsive tr {
    border-bottom: none;
    padding: 0 10px;
  }
  /* line 1136, src/scss/mrktmade-ui.scss */
  .st.table.table--responsive thead {
    border: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }
}

/* line 1143, src/scss/mrktmade-ui.scss */
.st.table thead {
  color: #000000;
}

/* line 1147, src/scss/mrktmade-ui.scss */
.st.table tbody {
  color: #2f3542;
}

/* line 1151, src/scss/mrktmade-ui.scss */
.st.table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

/* line 1155, src/scss/mrktmade-ui.scss */
.st.table td,
.st.table th {
  border: none;
  padding: 15px 10px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

/* line 1169, src/scss/mrktmade-ui.scss */
.st.accordion {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

/* line 1177, src/scss/mrktmade-ui.scss */
.st.accordion .accordion__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

/* line 1185, src/scss/mrktmade-ui.scss */
.st.accordion .accordion__box:not(:last-of-type) .accordion__box-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 1189, src/scss/mrktmade-ui.scss */
.st.accordion .accordion__box:not(:last-of-type) .accordion__box-body > div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 1200, src/scss/mrktmade-ui.scss */
.st.accordion .accordion__box:last-of-type .accordion__box-body > div {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 1208, src/scss/mrktmade-ui.scss */
.st.accordion .accordion__box-head {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 55px;
  padding: 5px 10px;
  background-color: transparent;
}

/* line 1218, src/scss/mrktmade-ui.scss */
.st.accordion .accordion__box-head > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 1222, src/scss/mrktmade-ui.scss */
.st.accordion .accordion__box-head.is-active {
  background-color: rgba(0, 0, 0, 0.025);
}

/* line 1225, src/scss/mrktmade-ui.scss */
.st.accordion .accordion__box-head.is-active svg {
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1);
}

/* line 1231, src/scss/mrktmade-ui.scss */
.st.accordion .accordion__box-body {
  display: none;
  width: 100%;
}

/* line 1235, src/scss/mrktmade-ui.scss */
.st.accordion .accordion__box-body > div {
  padding: 10px;
}

/*# sourceMappingURL=maps/mrktmade-ui.css.map */
